<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="../assets/logo3.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../back/style.css" />
    <title>Khuyến mãi</title>
</head>

<body>
    <!-- Header -->
    <div class="bg">
        <div class="container ">
            <!-- Top header -->
            <div class="top-nav">
                <nav class="navbar navbar-expand-lg bg-body-tertiary  ">
                    <div class="container-fluid ">
                        <ul class="nav">
                            <li class="nav-item">

                                <a class="nav-link active" aria-current="page" href="./gioithieu.html">
                                    <img src="../assets/icon/icon_header_left_list_1.webp" /> Về Gloden Star
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./gioithieu.html">
                                    <img src="../assets/icon/cuahang.webp" /> Cửa hàng
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./giavang.html">
                                    <img src="../assets/icon/giavang.webp" /> Giá vàng
                                </a>
                            </li>
                            <li style="cursor: pointer;" class="nav-item">
                                <a class="nav-link " href="./lienhe.html">
                                    <img src="../assets/icon/lienhe.webp" /> Liên hệ
                                </a>
                            </li>
                            <li class="nav-item">

                                <a style="cursor: pointer;" class="nav-link" href="./tintuc.html">
                                    <i style="color: #adadad;" class="fa-regular fa-lightbulb"></i> Tin tức
                                </a>
                            </li>
                        </ul>

                        <a href="./trangchu.html"> <img style="width: 150px; height: 70px; border-radius: 50%; " src="../assets/icon/logo3.png  " /></a>
                        <form class="d-flex" role="search">
                            <input id="Search" class="form-control me-2" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search">
                            <button id="btn_search" class="btn btn-outline-success" type="submit" onclick="sendSearch()">Search</button>
                        </form>
                        <a id="cart" class="hover1" style="cursor: pointer; color: inherit; text-decoration: none;" href="./giohang.html">
                            <img src="../assets/icon/giohang.webp" /> Giỏ hàng
                        </a>
                        <a class="hover1" style="color: inherit; text-decoration: none;" href="./dangnhap.html">
                            <i class="fa-solid fa-user"></i> Tài khoản
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNavProduct" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
                    </div>
                </nav>
            </div>



            <!-- down header -->
            <div class="bottom-nav">


                <nav class="navbar navbar-expand-lg bg-body-tertiary  ">

                    <div class=" offcanvas offcanvas-end silde" tabindex="-1" id="navbarNavProduct" aria-labelledby="offcanvasRightLabel">
                        <div class="navbar-nav">
                            <a class="nav-link button1 text  " aria-current="page" href="./sanpham.html">TRANG SỨC NỮ</a>
                            <a class="nav-link button1 button-color text " href="./sanpham.html">TRANG SỨC NAM</a>
                            <a class="nav-link button1 text" href="./sanpham.html">NHẪN CƯỚI</a>
                            <a class="nav-link button1 text" href="./sanpham.html">BẠC MỸ NGHỆ</a>
                            <a class="nav-link button1 text" href="./sanpham.html">TRANG SỨC ĐÁ MÀU</a>

                            <a class="nav-link button1 text" href="./sanpham.html">TRANG SỨC KIM CƯƠNG</a>
                            <a style="color: #010101 !important; border-bottom: 1px solid #daa937;" class="nav-link button1 text" href="./khuyenmai.html">KHUYẾN MÃI</a>
                        </div>
                    </div>

                    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNavProduct" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button> -->

                </nav>
            </div>
        </div>
    </div>
    <!--  -->
    <main>
        <!--code here  -->
        <div class="row d-flex justify-content-center m-5">
            <img src="../assets/KhuyenMai/combo-t11-1200x450-cta.jpg" class="w-75" />
        </div>
        <div class="row d-flex justify-content-center m-5">
            <div class="col-3">
                <div class="card" style="width: 20rem">
                    <img src="../assets/KhuyenMai/khuyenmai1.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <p class="card-text">
                            <b><a href="#" class="text-dark text-decoration-none"
                    >ƯU ĐÃI 20% NHẪN CƯỚI TẠI HỘI CHỢ VIJF 2023</a
                  ></b
                ><br />
                Từ 16 - 19/11/2023, GS mang đến ưu đãi độc quyền chỉ có tại VIJF
                2023 dành cho các cặp đôi: Giảm tới 20% nhẫn...
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 20rem">
            <img
              src="../assets/KhuyenMai/khuyenmai2.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                <b
                  ><a href="#" class="text-dark text-decoration-none"
                    >GS ƯU ĐÃI ĐẾN 40% TRANG SỨC CAO CẤP TẠI VIJF 2023</a
                  ></b
                ><br />
                Tham dự Hội chợ Quốc tế Trang sức Việt Nam VIJF 2023, GS ưu đãi
                đến 40% trang sức cao cấp cùng hàng ngàn phần quà
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 20rem">
            <img
              src="../assets/KhuyenMai/khuyenmai3.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                <b
                  ><a href="#" class="text-dark text-decoration-none"
                    >TRANG SỨC GS TUNG SIÊU BÃO ƯU ĐÃI TỚI 40% TẠI HỘI CHỢ VIJF
                    2023</a
                  ></b
                ><br />
                Trang sức GS tung ‘siêu’ ưu đãi tới 40%, trang sức giá 0 đồng…
                cùng hàng ngàn quà tặng hấp dẫn khác tại Hội chợ
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center m-5">
        <div class="col-3">
          <div class="card" style="width: 20rem">
            <img
              src="../assets/KhuyenMai/khuyenmai4.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                <b
                  ><a href="#" class="text-dark text-decoration-none"
                    >ƯU ĐÃI ĐỘC QUYỀN ONLINE 22% NGÀY LỄ ĐỘC THÂN</a
                  ></b
                ><br />
                Mừng ngày lễ độc thân 11/11, DOJI mang đến cho khách hàng “Đại
                tiệc siêu sale” độc quyền online với ưu đãi 22%
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 20rem">
            <img
              src="../assets/KhuyenMai/khuyenmai5.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                <b
                  ><a href="#" class="text-dark text-decoration-none"
                    >GS TẶNG HÀNG NGÀN E-VOUCHER MỪNG SINH NHẬT KHÁCH HÀNG THÁNG
                    11.2023</a
                  ></b
                ><br />
                Mong muốn gửi lời tri ân đặc biệt đến khách hàng nhân ngày sinh
                nhật và mang lại những quyền lợi tốt nhất khi
              </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 20rem">
            <img
              src="../assets/KhuyenMai/khuyenmai6.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                <b
                  ><a href="#" class="text-dark text-decoration-none"
                    >F5 PHONG CÁCH VỚI BỘ TRANG SỨC SẮC MÀU CÁ TÍNH</a
                  ></b
                ><br />
                Những thiết kế trang sức vàng 24K trong BST “Sắc màu cá tính”
                vừa ra mắt của GS sẽ tô điểm nên nét rạng ngời,...
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer-bg text-center text-lg-start">
      <div class="top-footer">
          <div class="top-footer-down">
              <div class="footer-hotline">
                  Hotline của chúng tôi luôn chào đón quý khách
              </div>
              <div class="footer-phone">
                  <img src="../assets/icon/icon_ft_contact_cus.webp" /> 1800 595 995
              </div>
          </div>

      </div>
      <!-- Grid container -->
      <div class="container p-4">
          <div class="row">
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-2">
                  <img width="100px" height="70px" class="" src="../assets/icon/logo3.png" />

                  <ul class="list-unstyled mt-2 mb-0">
                      <li>
                          <a href="#!" style="text-decoration: none;" class="text-dark">Gloden Star là một cửa hàng buôn bán đá quý uy tín, chất lượng hàng đầu tại Việt Nam</a>
                      </li>
                      <li class="flex mt-2">
                          <i style="cursor: pointer;" class=" footer-icon fa-brands fa-google"></i>
                          <i style="cursor: pointer;" class="footer-icon fa-brands fa-facebook"></i>
                          <i style="cursor: pointer;" class="footer-icon fa-brands fa-twitter"></i>
                          <i style="cursor: pointer;" class="footer-icon fa-brands fa-youtube"></i>
                      </li>

                  </ul>
              </div>
              <!--Grid column-->
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-2">
                  <h5 class="footer-color-h text-uppercase">Địa chỉ</h5>

                  <ul class="list-unstyled mt-3 mb-0">
                      <li class="flex mb-2">
                          <i class="footer-icon-address fa-solid fa-location-pin"></i>
                          <a href="#!" class="text-dark textdecoration"> Hung Vuong, Ninh Kieu, Can Tho</a>
                      </li>
                      <li class="flex mb-2">
                          <i class=" footer-icon-address fa-solid fa-phone"></i>
                          <a href="#!" class="text-dark textdecoration  ">18001048</a>
                      </li>
                      <li class="flex mb-2">
                          <i class="footer-icon-address fa-regular fa-envelope"></i>
                          <a href="#!" class="text-dark textdecoration  ">goldenstar@gmail.com</a>
                      </li>
                  </ul>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                  <h5 class="footer-color-h text-uppercase mb-0 textdecoration">Về Golden Star</h5>

                  <ul class="list-unstyled mt-3">
                      <li class="mb-2">
                          <a href="#!" class="hover1 text-dark textdecoration">Giới thiệu</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!" class="hover1 text-dark textdecoration">Cửa hàng </a>
                      </li>
                      <li class="mb-2">
                          <a href="#!" class="hover1 text-dark textdecoration">Liên hệ</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!" class="hover1 text-dark textdecoration">Tuyển dụng</a>
                      </li>
                      <li class="mb-2">
                          <a href="#!" class="hover1 text-dark textdecoration">FAQs</a>
                      </li>
                  </ul>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                  <h5 class="footer-color-h text-uppercase mb-0">ĐĂNG KÝ NHẬN THÔNG BÁO & KHUYẾN MẠI TỪ Golden Star</h5>

                  <p>Hãy trở thành người đầu tiên nắm được các thông tin cập nhật mới nhất từ Golden Star về các mẫu thiết kế mới, những event đặc biệt, tin khuyến mại và các chương trình tặng quà... từ Golden Star.</p>

                  <div class="input-group">
                      <input type="text" style="margin-right: 10px;" class="form-control" placeholder="Nhập địa chỉ Email của bạn">
                      <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope">Đăng ký</span></button>
                      </span>
                  </div>
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-dark" href="#">Golden Star</a>
      </div>
      <!-- Copyright -->
  </footer>

            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
            <script src="../back/index.js"></script>
</body>

</html>